.footer-box {
  width: 100%;
  text-align: center;
  background-color:  #e7e7e7;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
}
.footer-box span {
  font-size: 12px;
}

/* スマホ表示時 */
@media (max-width: 559px) {
  .footer-box span {
    font-size: 8px;
  }
}
/* --スマホ表示時 */