.top-page-header {
  width: 100vw;
  padding: 1.5vh 13vw;
  display: flex;
  justify-content: space-between;
  background-color: turquoise;
}
/* スマホ表示時ヘッダー非表示 */
.sumaho-header {
  display: none;
}
.open, .close {
  display: none;
}
/* --スマホ表示時ヘッダー非表示 */
/* アイコン */
.fa-chess-king {
  font-size: 50px;
  color: yellow;
}
/* /アイコン */

/* 検索バー */
.search-bar-contents {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  width: 30vw;
  height: 75%;
  position: relative;
}

.input-box {
  width: 100%;
  outline: none;
  padding: 10px;
}

.btn-hidden {
  display: none;
}

.fa-search {
  font-size: 20px;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
}
/* --検索バー */

/* ユーザー登録 */
.lists-right {
  display: flex;
}
.lists-right > li > a {
  color: black;
}
.user-nickname, .login {
  margin-right: 20px;
}
/* --ユーザー登録 */

/* 投稿ボタン */
.post-btn {
  display: flex;
  align-items: center;
  width: 15%;
}
.post-btn > a {
  width:75%;
  padding: 10%;
  background-color: violet;
  border-radius: 5px;
  color: white;
  display: flex;
}
.fa-pencil-alt {
  color: white;
  margin-right: 5%;
}
/* --投稿ボタン */

/* タブレット表示時 */
@media (max-width: 959px) {
  .top-page-header {
    padding: 1vh 1vw;
  }

  /* アイコン */
  .fa-chess-king {
    font-size: 45px;
  }
  /* /アイコン */
  
  /* ユーザー登録 */
  .nav {
    width: 40%;
  }
  .lists-right {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .user-nickname, .login {
    margin-right: 0px;
  }
  .lists-right > li {
    width: calc( 100% / 3 );
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* --ユーザー登録 */
  
  /* 投稿ボタン */
  .post-btn > a {
    width:100%;
  }
  /* --投稿ボタン */
}
/* --タブレット表示時 */

/* スマホ表示時 */
@media (max-width: 559px) {
  /* 元のヘッダー非表示 */
  .top-page-header {
    display: none;
  }
  /* --元のヘッダー非表示 */
  .sumaho-header {
    display: flex;
  }

  .open, .close {
    display: flex;
    align-items: center;
  }
  .fa-bars {
    font-size: 25px;
  }
  .fa-chess-king {
    font-size: 35px;
  }
  .post-btn {
    width: 80px;
  }
}
/* --スマホ表示時 */