<div class="item-categories">
  <h2>
    カテゴリー一覧
  </h2>
  <%= link_to  posts_path, class: "category-button", id: 'categoBtn' do %>
    カテゴリーから探す
  <% end %>
  <div id="tree_menu">
    <ul class="categoryTree">
      <% @parents.each do |parent| %>
        <li class="category_parent">
          <%= link_to search_post_path(parent) do %>
            <input type="button" value="<%= parent.name %>" name="<%= parent.id %>" class="parent_btn">
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="categoryTree-child">
    </ul>
    <ul class="categoryTree-grandchild">
    </ul>
  </div>
</div>