<header class='top-page-header sumaho-header'>
  <label for="menu" class="open"><i class="fas fa-bars"></i></label>
  <%= link_to root_path do %>
    <i class="fas fa-chess-king"></i>
  <% end %>
  <%# 投稿ボタン %>
  <div class='post-btn'>
    <a href="/posts/new">
      <i class="fas fa-pencil-alt"></i>
      <span class='post-btn-text'>投稿する</span>
    </a>
  </div>
  <%# /投稿ボタン %>
</header>