.post-img {
  /* width: 12vw; */
  width: 180px;
  height: 100px;
  /* height: 15vh; */
  object-fit: cover;
}

/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
}
.pagination > li > a {
  border: none;
  color: #999;
}
.pagination > li > a:hover {
  color: turquoise;
  background-color: white;
}
.pagination > .active > a {
  color: turquoise;
  background-color: white;
}
.pagination > .active > a:hover {
  background-color: white;
  color: turquoise;
}
/* --ページネーション */

/* スマホ表示時 */
@media (max-width: 559px) {
  .post-img {
    width: 130px;
    height: 90px;
  }
}
/* --スマホ表示時 */