/* 画面上部 */
.title-contents {
  background-image: url('collection-5180255_1920.jpg');
  width: 100vw;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% center;
  position: relative;
}

.service-title {
  font-family: 'Noto Sans JP', sans-serif !important;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
  position: absolute;
  top: 20%;
  left: 15%;
}

.service-paragraph {
  position: absolute;
  top: 65%;
  left: 15%;
  display: flex;
  align-items: center;
  height: 70px;
}
 
.service-explain1 {
  margin-right: 50px;
}

.service-explain1::after {
  position: absolute;
  content: "";
  width: 500px;
  height: 100px;
  background-image: url('ornament-2019452_1280.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: -50px;
  left: 0;
}
.service-explain1:before {
  position: absolute;
  content: "";
  width: 500px;
  height: 100px;
  background-image: url('ornament-2019452_1280.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: 20px;
  left: 0;
  transform: rotateX(180deg);
}
.service-explain2::after {
  position: absolute;
  content: "";
  width: 500px;
  height: 100px;
  background-image: url('ornament-2019452_1280.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: -50px;
  left: 230px;
}
.service-explain2:before {
  position: absolute;
  content: "";
  width: 500px;
  height: 100px;
  background-image: url('ornament-2019452_1280.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: 20px;
  left: 230px;
  transform: rotateX(180deg);
}
/* --画面上部 */

/* 画面メイン */
.item-contents > h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 2% 0;
  border-top: 2px solid turquoise;
  border-bottom: 2px solid turquoise;
  background: linear-gradient( #ffffe0, #fafad2, #fffacd);
}
.main-contents {
  display: flex;
  justify-content: space-between;
  padding: 5vh 0;
  width: 80vw;
  margin: 0 auto;
}

.post-link {
  display: flex;
  padding: 1%;
  border-bottom: 1px dotted black;
}

.post-info-contents {
  display: flex;
  width: 100%;
  margin-left: 1%;
  color: black;
}

.post-info1 {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 180px) ;
}
.post-info1 > div, .post-info1 > h3 {
  width: 50%;
}
.post-info2 {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item-contents{
  width: 70%;
}

.item-categories {
  width: 25%;
  /* margin-right: 50px; */
}
.item-categories > h2 {
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.category-button {
  color: black;
  line-height: 40px;
}

.post-index-box {
  margin: 0 auto;
  text-align: center;
  width: 40%;
  margin-top: 10px;
}

.post-index-btn{
  color: violet;
  border: 1px solid violet;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  padding: 2vh 5vw;
}
/* --画面メイン */