/* 画面上部 */
.title-contents {
  background-image: url('collection-5180255_1920.jpg');
  width: 100vw;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% center;
  position: relative;
}

.service-title {
  font-family: 'Noto Sans JP', sans-serif !important;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
  position: absolute;
  top: 20%;
  left: 15%;
}

.service-paragraph {
  position: absolute;
  top: 65%;
  left: 15%;
  display: flex;
  align-items: center;
  height: 70px;
}
 
.service-explain1 {
  margin-right: 50px;
}

.service-explain1::after {
  position: absolute;
  content: "";
  width: 500px;
  height: 100px;
  background-image: url('ornament-2019452_1280.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: -50px;
  left: 0;
}
.service-explain1:before {
  position: absolute;
  content: "";
  width: 500px;
  height: 100px;
  background-image: url('ornament-2019452_1280.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: 20px;
  left: 0;
  transform: rotateX(180deg);
}
.service-explain2::after {
  position: absolute;
  content: "";
  width: 500px;
  height: 100px;
  background-image: url('ornament-2019452_1280.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: -50px;
  left: 230px;
}
.service-explain2:before {
  position: absolute;
  content: "";
  width: 500px;
  height: 100px;
  background-image: url('ornament-2019452_1280.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: 20px;
  left: 230px;
  transform: rotateX(180deg);
}
/* --画面上部 */

/* 画面メイン */
.item-contents > h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 2% 0;
  border-top: 2px solid turquoise;
  border-bottom: 2px solid turquoise;
  background: linear-gradient( #ffffe0, #fafad2, #fffacd);
}
.main-contents {
  display: flex;
  justify-content: space-between;
  padding: 5vh 0;
  width: 80vw;
  margin: 0 auto;
}

.post-link {
  display: flex;
  padding: 1%;
  border-bottom: 1px dotted black;
}

.post-info-contents {
  display: flex;
  width: 100%;
  margin-left: 1%;
  color: black;
}

.post-info1 {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: calc(100% - 180px) ;
}
.post-info1 > div, .post-info1 > h3 {
  width: 50%;
}
.post-info2 {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item-contents{
  width: 70%;
}

.item-categories {
  width: 25%;
  /* margin-right: 50px; */
}
.item-categories > h2 {
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.category-button {
  color: black;
  line-height: 40px;
}

.post-index-box {
  margin: 0 auto;
  text-align: center;
  width: 40%;
  margin-top: 10px;
}

.post-index-btn{
  color: violet;
  border: 1px solid violet;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  padding: 2vh 5vw;
}
.post-index-btn:hover {
  color: violet;
}

.show-sub {
  font-size: 12px;
  color: #999;
}
/* --画面メイン */

.notice2 {
  width: 100vw;
  text-align: center;
  line-height: 50px;
  color: blue;
}

/* サイドバー非表示 */
.side-bar {
  display: none;
}
input[type="checkbox"] {
  position: absolute;
  left: -10vw;
}
/* --サイドバー非表示 */

/* タブレット表示時 */
@media (max-width: 959px) {
  /* 画面上部 */
  .service-title {
    top: 10%;
    left: 10%;
  }

  .service-paragraph {
    top: 60%;
    left: 5%;
  }
  /* --画面上部 */

  /* 画面メイン */
  .main-contents {
    padding: 3vh 0;
    width: 92vw;
    margin: 0 auto;
  }

  .item-contents{
    width: 100%;
  }

  .item-categories {
    display: none;
  }

  .post-index-btn{
    width: 90%;
    padding: 1.5vh 5vw;
  }
  /* --画面メイン */
}
/* --タブレット表示時 */

/* スマホ表示時 */
@media (max-width: 559px) {
  body {
    font-size: 12px;
  }
  #main {
    display: flex;
  }

  /* サイドバー表示 */
  .side-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    min-width: 300px;
    left: -300px;
    transition: all 0.2s;
    background-color: white;
  }
  .nav {
    width: 100%;
  }
  .lists-right {
    flex-direction: column;
  }
  
  input[type="checkbox"]:checked ~ .side-bar {
    left: 0;
  }
  input[type="checkbox"]:checked ~ .back {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  /* --サイドバー表示 */
  /* 画面上部 */
  .title-contents {
    height: 200px;
    background-size: 70%;
  }

  .service-title {
    font-size: 20px;
    line-height: 30px;
    top: 15%;
    left: 10%;
  }

  .service-paragraph {
    top: 70%;
    left: 10%;
    height: 0px;
    font-size: 8px;
  }
   
  .service-explain1 {
    margin-right: 20px;
  }
  
  .service-explain1::after {
    width: 100px;
    top: -50px;
  }
  .service-explain1:before {
    width: 100px;
    top: -50px;
  }
  .service-explain2::after {
    width: 100px;
    top: -50px;
    left: 145px;
  }
  .service-explain2:before {
    width: 100px;
    top: -50px;
    left: 145px;
  }
  /* --画面上部 */
  /* 画面メイン */
  .item-contents > h2 {
    font-size: 14px;
    border-top: 1px solid turquoise;
    border-bottom: 1px solid turquoise;
  }
  .main-contents {
    width: 100vw;
  }

  .post-link {
    display: flex;
  }

  .post-info-contents {
    display: flex;
    width: 100%;
    margin-left: 1%;
    font-size: 10px;
  }

  .post-info1 {
    width: calc(100% - 60px) ;
  }
  .post-info2 {
    width: 60px;
  }

  .post-index-box {
    width: 90%;
    margin-top: 20px;
  }

  .post-index-btn{
    width: 100%;
    padding: 2vh 5vw;
  }

  .show-sub {
    font-size: 10px;
  }
  /* --画面メイン */
}
/* --スマホ表示時 */