.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  width: 60vw;
  margin: 0 auto;
}

/* フォームタイトル */
.form-header {
  border-bottom: 1px solid black;
  padding: 0 25px 15px;
  width: 100%;
  text-align: center;
}

.form-header-text {
  font-size: 20px;
  font-weight: bold;
}
/* --フォームタイトル */

.form-wrap input, .form-wrap textarea {
  outline: none;
  padding: 10px 15px;
  font-size: 15px;
  width: 100%;
}

.field {
  padding: 0 25px 15px;
  width: 70%;
}
input[type="radio"], #profile-image {
  width: auto;
}

.top-field {
  margin-top: 30px;
}

.form-text-wrap {
  margin-bottom: 5px;
}

.form-text {
  font-weight: bold;
}

.input-default {
  resize: none;
}

/* 登録ボタン */
.actions {
  width: 70%;
  padding: 0 25px 15px;
}
.actions > input {
  width:100%;
  background-color: violet;
  border: none;
  border-radius: 5px;
  color: white;
}
/* --登録ボタン */

/* エラーメッセージ */
.login-flash-message, .error-message:first-child {
  color: red;
  margin-top: 30px;
}
.error-message {
  color: red;
}
/* --エラーメッセージ */